// neutral tints
$grey: 0; //    untinted    / accent hues 000 - 360
$mauve: 265; // base purple / accent hues 251 - 010
$slate: 232; // base blue   / accent hues 181 - 250
$sage: 154; //  base green  / accent hues 131 - 180
$olive: 114; // base lime   / accent hues 061 - 130
$sand: 50; //   base yellow / accent hues 011 - 060

$neutral-hue: $grey;
$accent-hue: 0;
$accent-saturation: 50;
