@mixin accent-light($hue, $saturation) {
	--accent-1: hsl(#{$hue} #{$saturation} 99%);
	--accent-2: hsl(#{$hue} #{$saturation} 97%);
	--accent-3: hsl(#{$hue} #{$saturation} 95%);
	--accent-4: hsl(#{$hue} #{$saturation} 92%);
	--accent-5: hsl(#{$hue} #{$saturation} 89%);
	--accent-6: hsl(#{$hue} #{$saturation} 85%);
	--accent-7: hsl(#{$hue} #{$saturation} 80%);
	--accent-8: hsl(#{$hue} #{$saturation} 73%);
	--accent-9: hsl(#{$hue} #{$saturation} 62%);
	--accent-10: hsl(#{$hue} #{$saturation} 53%);
	--accent-11: hsl(#{$hue} #{$saturation} 41%);
	--accent-12: hsl(#{$hue} #{$saturation} 21%);

	--accent-a1: hsl(#{$hue} #{$saturation} 99% / 0.012);
	--accent-a2: hsl(#{$hue} #{$saturation} 97% / 0.027);
	--accent-a3: hsl(#{$hue} #{$saturation} 95% / 0.047);
	--accent-a4: hsl(#{$hue} #{$saturation} 92% / 0.071);
	--accent-a5: hsl(#{$hue} #{$saturation} 89% / 0.090);
	--accent-a6: hsl(#{$hue} #{$saturation} 85% / 0.114);
	--accent-a7: hsl(#{$hue} #{$saturation} 80% / 0.141);
	--accent-a8: hsl(#{$hue} #{$saturation} 73% / 0.220);
	--accent-a9: hsl(#{$hue} #{$saturation} 62% / 0.439);
	--accent-a10: hsl(#{$hue} #{$saturation} 53% / 0.478);
	--accent-a11: hsl(#{$hue} #{$saturation} 41% / 0.565);
	--accent-a12: hsl(#{$hue} #{$saturation} 21% / 0.910);
}
