@use "../util/generate-colour" as colour;

@mixin light-accent ($hue, $saturation) {
  --accent-1: hsl(#{$hue} #{$saturation} 99%);
  --accent-2: hsl(#{$hue} #{$saturation} 97%);
  --accent-3: hsl(#{$hue} #{$saturation} 95%);
  --accent-4: hsl(#{$hue} #{$saturation} 92%);
  --accent-5: hsl(#{$hue} #{$saturation} 89%);
  --accent-6: hsl(#{$hue} #{$saturation} 85%);
  --accent-7: hsl(#{$hue} #{$saturation} 80%);
  --accent-8: hsl(#{$hue} #{$saturation} 73%);
  --accent-9: hsl(#{$hue} #{$saturation} 62%);
  --accent-10: hsl(#{$hue} #{$saturation} 53%);
  --accent-11: hsl(#{$hue} #{$saturation} 41%);
  --accent-12: hsl(#{$hue} #{$saturation} 21%);

  --accent-a1: hsl(#{$hue} #{$saturation} 99% / 0.01);
  --accent-a2: hsl(#{$hue} #{$saturation} 97% / 0.03);
  --accent-a3: hsl(#{$hue} #{$saturation} 95% / 0.08);
  --accent-a4: hsl(#{$hue} #{$saturation} 92% / 0.14);
  --accent-a5: hsl(#{$hue} #{$saturation} 89% / 0.19);
  --accent-a6: hsl(#{$hue} #{$saturation} 85% / 0.25);
  --accent-a7: hsl(#{$hue} #{$saturation} 80% / 0.33);
  --accent-a8: hsl(#{$hue} #{$saturation} 73% / 0.43);
  --accent-a9: hsl(#{$hue} #{$saturation} 62% / 0.73);
  --accent-a10: hsl(#{$hue} #{$saturation} 53% / 0.77);
  --accent-a11: hsl(#{$hue} #{$saturation} 41% / 0.86);
  --accent-a12: hsl(#{$hue} #{$saturation} 21% / 0.91);
}

@mixin dark-accent ($hue, $saturation) {
  --accent-1: hsl(#{$hue} #{$saturation} 8%);
  --accent-2: hsl(#{$hue} #{$saturation} 10%);
  --accent-3: hsl(#{$hue} #{$saturation} 15%);
  --accent-4: hsl(#{$hue} #{$saturation} 19%);
  --accent-5: hsl(#{$hue} #{$saturation} 24%);
  --accent-6: hsl(#{$hue} #{$saturation} 29%);
  --accent-7: hsl(#{$hue} #{$saturation} 37%);
  --accent-8: hsl(#{$hue} #{$saturation} 48%);
  --accent-9: hsl(#{$hue} #{$saturation} 59%);
  --accent-10: hsl(#{$hue} #{$saturation} 64%);
  --accent-11: hsl(#{$hue} #{$saturation} 79%);
  --accent-12: hsl(#{$hue} #{$saturation} 91%);

  --accent-a1: hsl(#{$hue} #{$saturation} 8% / 0.04);
  --accent-a2: hsl(#{$hue} #{$saturation} 10% / 0.05);
  --accent-a3: hsl(#{$hue} #{$saturation} 15% / 0.17);
  --accent-a4: hsl(#{$hue} #{$saturation} 19% / 0.26);
  --accent-a5: hsl(#{$hue} #{$saturation} 24% / 0.33);
  --accent-a6: hsl(#{$hue} #{$saturation} 29% / 0.4);
  --accent-a7: hsl(#{$hue} #{$saturation} 37% / 0.5);
  --accent-a8: hsl(#{$hue} #{$saturation} 48% / 0.68);
  --accent-a9: hsl(#{$hue} #{$saturation} 59% / 0.89);
  --accent-a10: hsl(#{$hue} #{$saturation} 64% / 0.92);
  --accent-a11: hsl(#{$hue} #{$saturation} 79% / 0.95);
  --accent-a12: hsl(#{$hue} #{$saturation} 91% / 0.98);
}

@mixin light-neutral($hue) {
  @if $hue == 0 {
    --grey-1: hsl(#{$hue} 0% 99%);
    --grey-2: hsl(#{$hue} 0% 97%);
    --grey-3: hsl(#{$hue} 0% 94%);
    --grey-4: hsl(#{$hue} 0% 91%);
    --grey-5: hsl(#{$hue} 0% 88%);
    --grey-6: hsl(#{$hue} 0% 85%);
    --grey-7: hsl(#{$hue} 0% 81%);
    --grey-8: hsl(#{$hue} 0% 73%);
    --grey-9: hsl(#{$hue} 0% 54%);
    --grey-10: hsl(#{$hue} 0% 50%);
    --grey-11: hsl(#{$hue} 0% 39%);
    --grey-12: hsl(#{$hue} 0% 14%);

    --grey-a1: hsl(#{$hue} 0% 99% / 0.01);
    --grey-a2: hsl(#{$hue} 0% 97% / 0.02);
    --grey-a3: hsl(#{$hue} 0% 94% / 0.06);
    --grey-a4: hsl(#{$hue} 0% 91% / 0.06);
    --grey-a5: hsl(#{$hue} 0% 88% / 0.13);
    --grey-a6: hsl(#{$hue} 0% 85% / 0.15);
    --grey-a7: hsl(#{$hue} 0% 81% / 0.2);
    --grey-a8: hsl(#{$hue} 0% 73% / 0.27);
    --grey-a9: hsl(#{$hue} 0% 54% / 0.45);
    --grey-a10: hsl(#{$hue} 0% 50% / 0.49);
    --grey-a11: hsl(#{$hue} 0% 39% / 0.61);
    --grey-a12: hsl(#{$hue} 0% 14% / 0.88);
  } @else {
    --grey-1: hsl(#{$hue} 20% 99%);
    --grey-2: hsl(#{$hue} 16% 97%);
    --grey-3: hsl(#{$hue} 10% 94%);
    --grey-4: hsl(#{$hue} 8% 91%);
    --grey-5: hsl(#{$hue} 8% 88%);
    --grey-6: hsl(#{$hue} 7% 85%);
    --grey-7: hsl(#{$hue} 7% 81%);
    --grey-8: hsl(#{$hue} 6% 73%);
    --grey-9: hsl(#{$hue} 3% 54%);
    --grey-10: hsl(#{$hue} 4% 50%);
    --grey-11: hsl(#{$hue} 4% 39%);
    --grey-12: hsl(#{$hue} 10% 14%);
    
    --grey-a1: hsl(#{$hue} 20% 99% / 0.01);
    --grey-a2: hsl(#{$hue} 16% 97% / 0.02);
    --grey-a3: hsl(#{$hue} 10% 94% / 0.06);
    --grey-a4: hsl(#{$hue} 8% 91% / 0.06);
    --grey-a5: hsl(#{$hue} 8% 88% / 0.13);
    --grey-a6: hsl(#{$hue} 7% 85% / 0.15);
    --grey-a7: hsl(#{$hue} 7% 81% / 0.2);
    --grey-a8: hsl(#{$hue} 6% 73% / 0.27);
    --grey-a9: hsl(#{$hue} 3% 54% / 0.45);
    --grey-a10: hsl(#{$hue} 4% 50% / 0.49);
    --grey-a11: hsl(#{$hue} 4% 39% / 0.61);
    --grey-a12: hsl(#{$hue} 10% 14% / 0.88);
  }
}

@mixin dark-neutral ($hue) {
  @if $hue == 0 {
    --grey-1: hsl(#{$hue}, 0%, 7%);
    --grey-2: hsl(#{$hue}, 0%, 10%);
    --grey-3: hsl(#{$hue}, 0%, 13%);
    --grey-4: hsl(#{$hue}, 0%, 16%);
    --grey-5: hsl(#{$hue}, 0%, 19%);
    --grey-6: hsl(#{$hue}, 0%, 23%);
    --grey-7: hsl(#{$hue}, 0%, 28%);
    --grey-8: hsl(#{$hue}, 0%, 37%);
    --grey-9: hsl(#{$hue}, 0%, 42%);
    --grey-10: hsl(#{$hue}, 0%, 48%);
    --grey-11: hsl(#{$hue}, 0%, 70%);
    --grey-12: hsl(#{$hue}, 0%, 93%);

    --grey-a1: hsl(#{$hue}, 0%, 7%, 0);
    --grey-a2: hsl(#{$hue}, 0%, 10%, 0.04);
    --grey-a3: hsl(#{$hue}, 0%, 13%, 0.07);
    --grey-a4: hsl(#{$hue}, 0%, 16%, 0.11);
    --grey-a5: hsl(#{$hue}, 0%, 19%, 0.13);
    --grey-a6: hsl(#{$hue}, 0%, 23%, 0.17);
    --grey-a7: hsl(#{$hue}, 0%, 28%, 0.23);
    --grey-a8: hsl(#{$hue}, 0%, 37%, 0.33);
    --grey-a9: hsl(#{$hue}, 0%, 42%, 0.39);
    --grey-a10: hsl(#{$hue}, 0%, 48%, 0.45);
    --grey-a11: hsl(#{$hue}, 0%, 70%, 0.69);
    --grey-a12: hsl(#{$hue}, 0%, 93%, 0.93);
  } @else {
    --grey-1: hsl(#{$hue}, 6%, 7%);
    --grey-2: hsl(#{$hue}, 4%, 10%);
    --grey-3: hsl(#{$hue}, 4%, 13%);
    --grey-4: hsl(#{$hue}, 4%, 16%);
    --grey-5: hsl(#{$hue}, 4%, 19%);
    --grey-6: hsl(#{$hue}, 5%, 23%);
    --grey-7: hsl(#{$hue}, 5%, 28%);
    --grey-8: hsl(#{$hue}, 5%, 37%);
    --grey-9: hsl(#{$hue}, 5%, 42%);
    --grey-10: hsl(#{$hue}, 4%, 48%);
    --grey-11: hsl(#{$hue}, 6%, 70%);
    --grey-12: hsl(#{$hue}, 7%, 93%);

    --grey-a1: hsl(#{$hue}, 6%, 7%, 0);
    --grey-a2: hsl(#{$hue}, 4%, 10%, 0.04);
    --grey-a3: hsl(#{$hue}, 4%, 13%, 0.07);
    --grey-a4: hsl(#{$hue}, 4%, 16%, 0.11);
    --grey-a5: hsl(#{$hue}, 4%, 19%, 0.13);
    --grey-a6: hsl(#{$hue}, 5%, 23%, 0.17);
    --grey-a7: hsl(#{$hue}, 5%, 28%, 0.23);
    --grey-a8: hsl(#{$hue}, 5%, 37%, 0.33);
    --grey-a9: hsl(#{$hue}, 5%, 42%, 0.39);
    --grey-a10: hsl(#{$hue}, 4%, 48%, 0.45);
    --grey-a11: hsl(#{$hue}, 6%, 70%, 0.69);
    --grey-a12: hsl(#{$hue}, 7%, 93%, 0.93);
  }
}
