@use "@/scss/util" as u;

.nav {
	&__list {
		list-style: none;
		display: flex;
		gap: var(--space-1);

		padding-block: var(--space-2);

		&--sub-list {
			flex-direction: column;
			gap: 0;
			padding-block: 0;

			border: solid 1px var(--border-1);
			background-color: var(--background-2);
		}
	}
  &__content {
    position: absolute;
    top: 100%;
  }
  
  &__link,
  &__trigger {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    
		border-style: solid;
		border-width: 2px;
		padding: var(--space-2) var(--space-4);
    
		font-weight: 600;
    
		color: var(--text-2);
		background-color: var(--interactive-1);
		border-color: transparent;
    border-radius: var(--radius-4);

		transition-property: color, background-color, border-color;
		transition-duration: 800ms;

		&:hover {
			color: var(--text-2);
			background-color: var(--interactive-2);
			transition-duration: 200ms;
		}

		&--active {
      color: var(--text-2);
      background-color: var(--interactive-3);
			border-color: var(--border-3);
      
      &:hover {
        color: var(--text-2);
        background-color: var(--interactive-3);
      }
		}
	}

  &__caret {
    transition-property: transform;
    transition-duration: 200ms;

    .nav__trigger[data-state="open"] & {
      transform: rotate(-180deg);
    }
  }

  &--mobile {
    .nav {
      &__list {
        flex-direction: column;
      }

      &__list-item {
        &--dropdown {
          position: relative;
        }
      }

      &__content {
        left: 100%;
        top: 0;
      }
    }
  }
}
