@use "@/scss/util" as u;

.nav-dialog {
	&__action {
		border: none;
		padding: u.rem(8);
		background-color: var(--interactive-2);

		display: flex;
	}

	&__icon {
		width: 24px;
		height: 24px;
	}

	&__overlay {
		position: fixed;
		inset: 0;
		z-index: 1;

		height: 100%;
		width: 100%;
		background-color: var(--grey-a12);
		opacity: 0.2;
	}

	&__header {
		display: flex;
		justify-content: flex-end;
	}

	&__content {
		position: fixed;
		top: 0;
		z-index: 1;

		height: 100%;
		z-index: 1;
		background-color: var(--background-2);
	}
}
