@use "@/scss/util" as u;

.header {
	position: fixed;
	top: 0;
	z-index: 1;

  justify-items: flex-end;
  justify-content: flex-end;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 100%;

	background-color: var(--background-2);
	border-bottom-color: var(--border-1);

  @include u.breakpoint-down(phone-landscape) {
    display: flex;
  }
}
