/* prettier-ignore */
@mixin shadows-dark {
  --shadow-1:
    inset 0 -1px 1px 0 var(--grey-a3),
    inset 0 0 0 1px var(--grey-a2),
    inset 0 2.5px 4px 0 var(--black-a9),
    inset 0 0 1px 1px var(--grey-a3);

  --shadow-2:
    0 0 0.5px 1px var(--grey-a4),
    0 0 1px 0.5px var(--black-a8),
    0 1px 1px 0 var(--black-a12),
    0 2px 1px -1px var(--black-a12),
    0 1px 3px 0 var(--black-a10);

  --shadow-3:
    0 0 0.5px 1px var(--grey-a2),
    0 2px 3px -2px var(--black-a7),
    0 3px 8px -2px var(--black-a9),
    0 4px 12px -4px var(--black-a11);

  --shadow-4:
    0 0 2px 1px var(--grey-a2),
    0 8px 40px var(--black-a9),
    0 12px 32px -16px var(--black-a11);

  --shadow-5:
    0 0 2px 1px var(--grey-a2),
    0 12px 60px var(--black-a10),
    0 12px 32px -16px var(--black-a12);

  --shadow-6:
    0 0 2px 1px var(--grey-a2),
    0 12px 60px var(--black-a10),
    0 16px 64px var(--black-a12),
    0 16px 36px -20px var(--black-a12);

  @supports (color: color-mix(in oklab, white, black)) {
    --shadow-1:
      inset 0 -1px 1px 0 var(--grey-a3),
      inset 0 0 0 1px color-mix(in oklab, var(--grey-a2), var(--grey-2) 25%),
      inset 0 2.5px 4px 0 var(--black-a9),
      inset 0 0 1px 1px var(--grey-a3);

    --shadow-2:
      0 0 0.5px 1px color-mix(in oklab, var(--grey-a4), var(--grey-4) 25%),
      0 0 1px 0.5px var(--black-a8),
      0 1px 1px 0 var(--black-a12),
      0 2px 1px -1px var(--black-a12),
      0 1px 3px 0 var(--black-a10);

    --shadow-3:
      0 0 0.5px 1px color-mix(in oklab, var(--grey-a2), var(--grey-2) 25%),
      0 2px 3px -2px var(--black-a7),
      0 3px 8px -2px var(--black-a9),
      0 4px 12px -4px var(--black-a11);

    --shadow-4:
      0 0 2px 1px color-mix(in oklab, var(--grey-a2), var(--grey-2) 25%),
      0 8px 40px var(--black-a9),
      0 12px 32px -16px var(--black-a11);

    --shadow-5:
      0 0 2px 1px color-mix(in oklab, var(--grey-a2), var(--grey-2) 25%),
      0 12px 60px var(--black-a10),
      0 12px 32px -16px var(--black-a12);

    --shadow-6:
      0 0 2px 1px color-mix(in oklab, var(--grey-a2), var(--grey-2) 25%),
      0 12px 60px var(--black-a10),
      0 16px 64px var(--black-a12),
      0 16px 36px -20px var(--black-a12);
  }
}
